*{
    padding: 0;
    margin: 0;
    text-align: center;
}

h1{
    background-color: black;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.option{
    height:160px;
    width:160px;
    border: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.option:hover{
    /* border: 5px solid black; */
    background-color: black;
}
img{
    height: 150px;
    width: 150px;
    border: 50%;
    object-fit: cover;
    border-radius: 50%;
}
img:hover{
    cursor: pointer;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.scoreCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 4rem;
}

.computerScore,
.userScore{
    font-size:4rem;
}

.msgContainer{
    margin-top: 5rem;
}
.gameMsg{
    background-color: black;
    color: white;
    height: 2rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 80vh;
}
